<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <title>Projeto Integrador</title>
    </head>

    <body>
       <header class="menu-principal">
        <main>
            <div class="header-1">
            

                <div class="logo">
                <img src="./img/logo.png">
                </div>

                
                <div class="redes-sociais">
                  <ul>
                      <li>
                          <a href="https://gitlab.com/Jeferson.Constantino/projeto-webbot" target="_blank">
                              <img src="./img/Git-Logo-White.png"/>
                            </a>
                        
                  </ul>
                </div>
            </div>
            
        </main>
   
          </header>
          <main class="col-100 menu-urls">
            <div class="header2">
              <div class="menu">
                <ul>
                  <li>
                    <a href="">Home</a>
                  </li>
                  <li>
                    <a href="">About</a>
                  </li>
                  <li>
                    <a href="">Service</a>
                  </li>
                  <li>
                    <a href="">Pages</a>
                  </li>
                  <li>
                    <a href="">Blog</a>
                  </li>
                  <li>
                    <a href="">Contact Us</a>
                  </li>
                </ul>
    
              </div>
              <div class="busca">
                <input placeholder="Search Something" type="search" id="text" list="historico"/>
                
                <datalist id="historico">
                    
                    <option value="Melhores Notas"></option>
                    <option value="Lista por Gêneros"></option>
                    <option value="Ano de Lançamento"></option>
                    
                  </datalist>
                <div class="btn">
        
              </div>
              
                
              
            </div>
          </main>
       </body>



</html>